body{
    margin: 0px;
}
.header {
    background-color: rgb(4,30,61);
    color: white;
    font-family: 'Roboto';
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 40px;
    margin: 0px;
    border: 0px;
}

.user a {
    text-decoration: none;
    color: #000000;
    padding: 8px 14px ;
    background-color: #E5E5E5 ;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    

}
.user a:hover {
  background-color:#e44d11 ;
  color: white;
  transition: transform ,1s;
}
.titre {
  padding-left: 400px;
  font-size: 40px;
  font-weight: bold;
}
.titre2 {
  padding-left: 400px;
  font-size: 25px;
}
.last {
    background-color: rgb(4,30,61);
    font-family:"roboto" ;
    font-size: 12px;
    color: rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
      font-size: 14px;
    font-weight: bold;
  
  }
  .last a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-family: "roboto";
    font-size: 14px;
    font-weight: bold;
    margin-left: 450px;
    margin-right: 100px;
  }
  .developer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;}